[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"autopep8" = "*"
"flake8" = "*"
isort = "*"
jedi = "*"
yapf = "*"
mypy = "*"
pyls-mypy = "*"
pyls-isort = "*"
python-language-server = "*"
cmakelint = "*"
cpplint = "*"
vim-vint = "*"
neovim = "*"
psutil = "*"

[dev-packages]
