# The last thing we need is people getting my backups.
backups

# Anything with a ~ is not worth saving.
*~

# You don't need to know my white list for NetRC.
.netrwhist

# Don't keep a cache of the scripts at vim-scripts.org
bundle/.vundle/script-names.vim-scripts.org.json
